
/*** 
  Typeography and color schema for vue-slider
  https://github.com/jeremyhamm/vue-slider
***/

@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
$font-family-sans-serif: "Titillium Web", sans-serif;

$background-color: #FFFFFF;

$menu-icon-color: #999999;

$menu-background: #3b889A;
$menu-text: #FFFFFF;
$menu-text-hover: #E0E0E0;

:export {
  background: {
    color: $background-color
  };
  menu: {
    icon-color: $menu-icon-color
  };
}